@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.nav-link {
  @apply py-8 mx-2 text-xl text-indigo-900 md:py-1 md:px-4 md:mx-0 hover:text-blue-600;
}

.btn-blue {
    @apply px-5 py-4 mt-10 text-white transition-transform duration-100 ease-in-out transform translate-y-0 bg-blue-600 rounded-lg shadow-lg hover:-translate-y-1 focus:-translate-y-1 md:mt-0;
  }

  ::selection {
    background-color: rgb(37 99 235);
    color: rgba(255, 255, 255);
  }


.hamburger {
  position: absolute;
  top: 3%;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 30;
}

.hamburger div {
  width: 2rem;
    height: 0.25rem;
    background: #111827;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.hamburger.open div:first-child {
  transform: rotate(45deg);
}

.hamburger.open div:nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg);
}

@media screen and (max-width: 767px) {
  nav.close {
    transform: translateX(-100%);
  }
  nav.open {
    transform: translateX(0);
  }
}